@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-nerds";
  src: url("../fonts/symbols-nerds.woff") format("woff"),
       url("../fonts/symbols-nerds.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-nerds";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */


body {
  margin: 0;
  min-width: 900px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  background: #ffffff no-repeat;
}

body b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
}

.container {
  width: 880px;
  padding: 0 10px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* НАЧАЛО ВЁРСТКИ ЗАГОЛОВКА ВСЕХ СТРАНИЦ */

.main-header {
  margin: 0;
  margin-bottom: 80px;
  background: #eeeeee;
}

.top-page {
  margin-bottom: 34px;
  padding-top: 27px;
}

.main-navigation {
  float: left;
  min-width: 720px;
}

.main-navigation .main-logo {
  display: block;
  float: left;
  padding-left: 1px;
  width: 139px;
  height: 56px;
}

.main-logo img {
  width: 139px;
  height: 56px;
}

.main-navigation .nav-list {
  float: right;
  padding: 0;
  margin: 0;
  max-width: 630px;
  padding-top: 26px;
  list-style: none;
  font-size: 0;
}

.nav-list li {
  display: inline-block;
  vertical-align: top;
}

.nav-list li a {
  padding: 0 23px;
  color: #000000;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-list li:last-of-type a {
  padding-right: 1px;
}

.nav-list a:hover {
  color: #fb565a;
}

.nav-list a:active {
  color: #000000;
  opacity: 0.4;
}

.active {
  position: relative;
  background: none;
}

.active span {
  display: block;
  padding: 0 23px;
  color: #000000;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.active::after {
  position: absolute;
  content: "";
  right: 23px;
  bottom: 0;
  left: 23px;
  height: 2px;
  background: #fb565a;
}

.cart-block {
  float: right;
  width: 100px;
  padding-top: 26px;
  word-wrap: break-word;
}

.cart-block .active::after {
  width: 100%;
  right: 0;
  left: 0;
}

.cart {
  display: block;
  color: #000000;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.cart:hover {
  color: #fb565a;
}

.cart:active {
  color: #000000;
  opacity: 0.4;
}

.cart .icon-basket {
  padding-left: 2px;
  margin-right: 10px;
  font-size: 16px;
  opacity: 0.3;
}

.cart:hover .icon-basket{
  opacity: 1.0;
}
/* КОНЕЦ ВЁРСТКИ ЗАГОЛОВКА ВСЕХ СТРАНИЦ */

/* ВЁРСТКА СЛАЙДЕРА */

.slider {
  position: relative;
  overflow: hidden;
}

.slider-controls {
  position: absolute;
  left: 406px;
  right: 400px;
  bottom: 95px;
  font-size: 0;
  z-index: 5;
}

.slider-controls label {
  display: inline-block;
  vertical-align: bottom;
  height: 4px;
  width: 4px;
  margin-right: 9px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.slider-controls label:last-child {
  margin: 0;
}

input[type="radio"]:first-of-type:checked ~ .slider-controls label:first-child,
input[type="radio"]:nth-of-type(2):checked ~ .slider-controls label:nth-child(2),
input[type="radio"]:last-of-type:checked ~ .slider-controls label:last-child {
  background-color: #c1c1c1;
}

input[type="radio"]:first-of-type:checked ~ .slider-inner {
  transform: translate(0);
}

input[type="radio"]:nth-of-type(2):checked ~ .slider-inner {
  transform: translate(-880px);
}

input[type="radio"]:last-of-type:checked ~ .slider-inner {
  transform: translate(-1760px);
}

.slider-inner {
  width: 300%;
}

.slide {
  float: left;
  width: 880px;
}

input[name="slider-toggle"] {
  display: none;
}

.slide-1 {
  background: url("../img/slide-1.png") no-repeat 100% 19px;
}

.slide-2 {
  background: url("../img/slide-2.png") no-repeat 98% 23px;
}

.slide-3 {
  background: url("../img/slide-3.png") no-repeat 99% 100%;
}

.slider-text {
  padding-top: 39px;
}

.slider-text b {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 19px;
}

.slider-text p {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
}

/* КОНЕЦ ВЁРСТКИ СЛАЙДЕРА */

/* ОБЩИЙ СТИЛЬ КНОПОК */
.button {
  display: inline-block;
  padding: 10px 70px;
  margin-bottom: 80px;
  border-radius: 3px;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  background-color: #fb565a;
  border: none;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #d6494d;
}

.button:active {
  background-color: #b63538;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.15);
}

/* ГЛАВНАЯ СТРАНИЦА БЛОК УСЛУГ */

.products {
  margin-bottom: 58px;
  border-bottom: 2px solid #eeeeee;
}

.products-item {
  float: left;
  margin-right: 80px;
  width: 240px;
}

.products-item:last-child {
  margin: 0;
}

.products-item img {
  width: 240px;
  height: 124px;
  vertical-align: top;
}

.products-item h2 {
  margin: 0;
  margin-top: 22px;
  margin-bottom: 14px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

.products-item p {
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
  font-size: 15px;
  line-height: 22px;
}

.products-item .button {
  padding: 10px 40px;
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover {
  background-color: #01a25e;
}

.button-green:active {
  background-color: #009053;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.15);
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover {
  background-color: #d6ae2c;
}

.button-yellow:active {
  background-color: #c09b24;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.15);
}

/* КОНЕЦ БЛОКА УСЛУГ */

/* ГЛАВНАЯ СТРАНИЦА БЛОК О КОМПАНИИ */

.about-us {
  border-bottom: 2px solid #eeeeee;
}

.inner-column-left {
  float: left;
  width: 620px;
}

.about-us-description p {
  margin: 0;
  margin-bottom: 44px;
}

.about-us-description .about-us-title {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  padding-top: 12px;
}

.about-us-lists .list-title {
  display: block;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.about-us-lists ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us-lists ul li {
  position: relative;
  padding-left: 36px;
  margin-bottom: 21px;
}

.about-us-lists ul li:last-of-type {
  margin-bottom: 70px;
}

.about-us-lists ul li::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.inner-column-right {
  float: right;
  width: 240px;
}

.inner-column-logo {
  text-align: center;
}

.inner-column-logo img {
  vertical-align: top;
  padding-left: 31px;
  padding-right: 22px;
  height: 75px;
  width: 187px;
  margin-bottom: 28px;
}

.inner-column-logo span {
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  background-color: #fff;
}

.inner-column-logo::after {
  position: relative;
  z-index: 1;
  content: "";
  bottom: 12px;
  display: block;
  border-bottom: 2px solid #eeeeee;
}

/* КОНЕЦ БЛОКА О КОМПАНИИ */

/* ГЛАВНАЯ СТРАНИЦА БЛОК ПАРТНЁРОВ */
.partners {
  height: 170px;
  border-bottom: 2px solid #eeeeee;
  font-size: 0;
  line-height: 0;
}

.partners a {
  display: inline-block;
  padding-right: 11px;
  padding-left: 12px;
  margin-right: 100px;
  vertical-align: top;
}

.partners a:first-child {
  padding-top: 67px;
  padding-bottom: 62px;
}

.partners a:nth-child(2) {
  padding-top: 55px;
  padding-bottom: 43px;
}

.partners a:last-child {
  margin: 0;
  padding-top: 45px;
  padding-bottom: 31px;
}

.partners a:link {
  opacity: 0.2;
}

.partners a:hover, .partners a:active {
  opacity: 1.0;
}

/* КОНЕЦ БЛОКА ПАРТНЁРОВ */

/* ЗАГОЛОВОК ДЛЯ СТРАНИЦЫ С КАТАЛОГОМ */

.inner-page .top-page{
  margin-bottom: 63px;
}

.inner-page .main-header {
  margin-bottom: 73px;
}

.greeting {
  margin-bottom: 85px;
}

.greeting .greeting-text{
  margin: 0;
  font-size: 40px;
  padding-right: 110px;
  padding-left: 80px;
  line-height: 1.2;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

.catalog {
  padding-bottom: 75px;
}

.catalog-column-left {
  float: left;
  width: 240px;
  margin-right: 60px;
}

.catalog-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-form .catalog-price-check {
  font-size: 0;
  margin-bottom: 43px;
}

.catalog-form legend {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.toddler {
  position: relative;
  padding: 39px 20px;
  margin-bottom: 14px;
  background-color: #f1f1f1;
}

.toddler-scale {
  height: 2px;
  background-color: #d7dcde;
}

.toddler-scale-checked {
  height: 2px;
  width: 70%;
  background-color: #00ca74;
}

.toddler-range {
  position: absolute;
  top: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  border-radius: 50%;
  background-color: #ababab;
  cursor: pointer;
}

.toddler-range-max {
  left: 160px;
}

.catalog-price-check label {
  text-transform: uppercase;
  font-size: 16px;
}

.catalog-price-check input[type="text"] {
  margin: 0;
  margin-left: 10px;
  margin-right: 17px;
  padding: 0;
  height: 38px;
  width: 80px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border: none;
  background-color: #f1f1f1;
}

.catalog-price-check input[type="text"]:nth-of-type(2n) {
  margin-right: 0;
}

.catalog-form .catalog-button-group {
  margin-bottom: 27px;
}

.catalog-button-group input[type="radio"],
.catalog-button-group input[type="checkbox"]{
  display: none;
}

.catalog-button-group input[type="radio"] + label,
.catalog-button-group input[type="checkbox"] + label {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-left: 35px;
  color: #283136;
  line-height: 20px;
  cursor: pointer;
}

.catalog-button-group input[type="radio"] + label::before,
.catalog-button-group input[type="checkbox"] + label::before {
  content: "\25cb";
  font-family: "symbols-nerds";
  position: absolute;
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  color: #c1c1c1;
  font-size: 28px;
  line-height: 20px;
}

.catalog-button-group input[type="radio"]:checked + label::before {
  content: "\25cf";
}

.catalog-button-group input[type="checkbox"] + label::before {
  content: "\2610";
}

.catalog-button-group input[type="checkbox"]:checked + label::before {
  content: "\2611";
}

.catalog-button-group input[type="radio"]:disabled + label,
.catalog-button-group input[type="checkbox"]:disabled + label {
  opacity: 0.4;
}

.catalog-button-group input[type="radio"]:not(:disabled) + label:hover,
.catalog-button-group input[type="checkbox"]:not(:disabled) + label:hover {
  color: #000000;
}

.catalog-button-group input[type="radio"]:not(:disabled) + label:hover::before,
.catalog-button-group input[type="checkbox"]:not(:disabled) + label:hover::before {
  color: #b5b5b5;
}

.catalog-form .button {
  padding-left: 47px;
  padding-right: 47px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  background-color: #f1f1f1;
}

.catalog-form .button:hover {
  background-color: #e5e5e5;
}

.catalog-form .button:active {
  background-color: #d5d5d5;
}

.catalog-column-right {
  float: right;
  width: 560px;
  padding-left: 20px;
  padding-top: 5px;
}

.sorting-block {
  width: 560px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-title {
  float: left;
  margin: 0;
  padding: 0;
  width: 105px;
}

.sorting-menu {
  float: left;
  width: 375px;
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.sorting-menu li {
  display: inline-block;
  font-size: 12px;
}

.sorting-type {
  display: block;
  margin: 0 22px;
  margin-bottom: 2px;
  border-bottom: 1px dotted #00ca74;
  color: #cacaca;
  text-decoration: none;
}

.sorting-type:hover {
  color: #000000;
  border-bottom-style: solid;
}

.sorting-type:active {
  color: #000000;
  border: none;
}

.sorting-icons {
  float: right;
  position: relative;
}

.sorting-icons i::before {
  position: absolute;
  top: -1px;
  left: -34px;
  display: inline;
  margin: 0;
  color: #cacaca;
  font-size: 23px;
  line-height: 20px;
}

.sorting-icons .active::before {
  color:  #00ca74;
}

.sorting-icons .icon-up-dir::before {
  left: -17px;
}

.catalog-items {
  font-size: 0;
}

.catalog-item {
  display: inline-block;
  vertical-align: top;
  width: 240px;
  height: 270px;
  margin-right: 80px;
  margin-bottom: 80px;
  font-size: 18px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-top {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding-left: 13px;
  padding-top: 10px;
  background-color: #f1f1f1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 0;
}

.catalog-item-top span {
  display: inline-block;
  margin-right: 8px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #ffffff;
}

.catalog-item img {
  position: absolute;
}

.catalog-item-block {
  display: none;
  position: relative;
  padding: 0 20px;
  box-sizing: border-box;
  left: 20px;
  top: 20px;
  width: 200px;
  height: 200px;
  text-align: center;
  background-color: #ffffff;
}

.catalog-item-block h1 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  padding-top: 35px;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 24px;
}

.catalog-item-block p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
}

.catalog-item-block .button {
  position: absolute;
  bottom: 0;
  right: 30px;
  left: 30px;
  margin-bottom: 20px;
  padding: 10px 30px;
  width: 80px;
  font-size: 18px;
  line-height: 18px;
}

.catalog-item:hover .catalog-item-top {
  background-color: #797979;
}

.catalog-item:hover .catalog-item-block {
  display: block;
}


/* ФУТЕР ДЛЯ ВСЕХ СТРАНИЦ (С КАРТОЙ) */
.main-footer {
  padding-top: 83px;
  position: relative;
}

.main-map {
  position: relative;
  height: 416px;
  width: 100%;
  background: #ffffff url("../img/map.jpg") no-repeat 50% 50%;
}

.map {
  position: relative;
  z-index: 1;
}

.main-map::after {
  content: "";
  z-index: 0;
  position: absolute;
  margin-left: 238px;
  top: 113px;
  left: 50%;
  width: 190px;
  height: 231px;
  background: transparent url("../img/marker.png") no-repeat;
}

.main-address {
  position: absolute;
  z-index: 1;
  top: 88px;
  padding: 24px 20px 27px;
  background: #fff;
}

.main-address span {
  line-height: 30px;
}

.main-address p {
  margin: 0;
  margin-top: 13px;
  margin-bottom: 20px;
  color: #666666;
  font-size: 16px;
  line-height: 20px;
}

.main-address p:last-of-type {
  margin-bottom: 29px;
}

.main-address .button {
  padding: 10px 54px;
  margin: 0;
  margin-left: 3px;
}

.social {
  margin-top: 75px;
  margin-bottom: 75px;
}

.social-btns {
  float: left;
  width: 241px;
  font-size: 0;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  margin-right: 26px;
  width: 63px;
  height: 63px;
  color: #ffffff;
  font-size: 23px;
  line-height: 16px;
  text-align: center;
  background: #e1e1e1;
  border-radius: 50%;
}

.social-btn:hover {
  background-color: #fb565a;
}

.social-btn:active {
  background-color: #d6494d;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.15);
}

.social-btn i {
  display: block;
  padding-top: 20px;
}

.social-btn-vk i {
  padding-right: 5px;
}

.social-btn:last-child {
  margin: 0;
}

.social-text {
  float: right;
  width: 550px;
  padding: 0 10px;
}

.social-text p {
  margin: 0;
  padding: 0;
}

.social-text b {
  display: block;
  margin-bottom: 8px;
}

/* КОНЕЦ ФУТЕРА */

/* ВСПЛЫВАЮЩЕЕ ОКНО */

.modal-content {
  position: fixed;
  display: none;
  z-index: 5;
  width: 460px;
  bottom: 20%;
  left: 50%;
  margin-left: -310px;
  padding: 50px 80px;
  padding-right: 90px;
  background: #ffffff;
  color: #000000;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

@keyframes bounce {
  0% {transform: translateY(-2000px);}
  70% { transform: translateY(30px); }
  90% { transform: translateY(-10px); }
  100% {transform: translateY(0);}
}

.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(10px); }
  20%, 40%, 60%, 80% { transform: translateX(-10px); }
}

.modal-error {
  animation: shake 0.6s;
}

.modal-content-close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 41px;
  height: 41px;
  font-size: 0;
  border: 0;
  border-radius: 50%;
  outline: 0;
  background-color: #fb565a;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 18px;
  width: 5px;
  height: 25px;
  background-color: #ffffff;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.write-us-form .form-left-column {
  float: left;
}

.write-us-form .form-right-column {
  float: right;
}

.write-us-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 18px;
}

.write-us-form input[type="text"], .write-us-form .letter{
  margin: 0;
  margin-bottom: 20px;
  padding: 9px 14px;
  box-sizing: border-box;
  width: 220px;

  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;

  border: 2px solid #d7dcde;
  border-radius: 2px;
  outline: none;
}

input[type="text"]::-webkit-input-placeholder {
   color: #000000;
}

input[type="text"]::-moz-placeholder {
   color: #000000;
   opacity: 1;
}

.write-us-form input[type="text"]:hover, .write-us-form .letter:hover {
  border-color: #a2a9ac;
}

.write-us-form input[type="text"]:focus, .write-us-form .letter:focus {
  border-color: #56bffb;
}

.write-us-form .letter {
  display: block;
  margin-bottom: 58px;
  width: 100%;
  height: 113px;
}

.write-us-form .button {
  margin-bottom: 20px;
  width: 100%;
}

/* КОНЕЦ ВСПЛЫВАЮЩЕГО ОКНА */
